@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,500;0,600;1,400;1,500&display=swap");

:root {
  --text-color: #000022;
  --text-white: #ffffff;
  --bg-01: #f6c84d;
  --bg-02: #6c67ef;
  --bg-03: #ff7262;
  --bg-04: #1abcfe;
  --bg-05: #f64d80;
  --bg-06: #dc67ef;
  --bg-07: #ff9b62;
  --bg-08: #1afe9e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000022;
  font-size: 18px;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  padding: 2rem 0;
  background-color: #000000;
  z-index: 2;
}

.mobile {
  display: none;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 80%;
  max-width: 1420px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  font-style: italic;
  font-weight: 300;
  color: #ffd362;
}

header .header {
  width: 80%;
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-white);
}

header .header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header .header nav ul li a {
  padding-right: 4rem;
  text-decoration: none;
  color: var(--text-white);
}

header .header nav ul li:nth-last-of-type(1) a {
  padding-right: 0;
}

header .header nav ul li a:hover {
  color: var(--bg-01);
}

header .header nav ul li .active {
  color: var(--bg-01);
}

.homeBanner {
  height: 75vh;
  background-color: #000000;
  color: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBanner .wrapper .left h1 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -0.02em;
}

.homeBanner .wrapper .left h1 i {
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -0.02em;
}

.homeBanner .wrapper .right {
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6c67ef;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 20px 20px 0px #ffd362, inset 20px 20px 0px #ffffff;
  border-radius: 10px;
}

.home-hero {
  width: 166.67px;
  height: 250px;
  transform: rotate(-15deg);
  z-index: 1;
}

main h3 {
  text-align: center;
  margin: 3rem auto;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: -0.02em;
}

main h3 i {
  font-size: 45px;
  line-height: 53px;
  letter-spacing: -0.02em;
}

main .wrapper .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

main .wrapper .top h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.02em;
}

main .wrapper .top a {
  padding: 1.5rem 4rem;
  color: var(--text-white);
  background-color: #000000;
  text-decoration: none;
  border-radius: 6px;
}

main .wrapper .grid {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

main .wrapper .grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

main .wrapper .grid .card {
  /* height: 200px; */
  padding: 3rem;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.card h4 {
  text-align: center;
  color: var(--text-white);
  margin-top: 3rem;
  padding: 1rem 3rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #000;
}
.card1 {
  background-color: var(--bg-01);
}

.card2 {
  background-color: var(--bg-02);
}
.card3 {
  background-color: var(--bg-03);
}
.card4 {
  background-color: var(--bg-04);
}
.card5 {
  background-color: var(--bg-05);
}
.card6 {
  background-color: var(--bg-06);
}
.card7 {
  background-color: var(--bg-07);
}
.card8 {
  background-color: var(--bg-08);
}

main .wrapper .grid .card img {
  width: 100%;
  height: 80%;
}

main .wrapper .grid .card p {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;
  align-self: flex-end;
}

.share {
  margin: 5rem auto;
}

.share form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 3rem;
  background: #6c67ef;
  border: 4px solid #000000;
  box-sizing: border-box;
  box-shadow: 20px 20px 0px #ffd362, inset 20px 20px 0px #ffffff;
  border-radius: 10px;
}

.share form input,
.share form textarea {
  width: 600px;
  padding: 20px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
}

.share form input::placeholder,
.share form textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.share form textarea {
  height: 200px;
  resize: none;
}

.share form input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
}

.share h1 {
  width: 100%;
  padding: 6rem;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -0.02em;
}

.share h1 i {
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -0.02em;
}

.grid2 .tool {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #6c67ef;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  padding: 5rem 2.5rem;
  transition: 0.5s ease;
}

.grid2 .illustration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--text-color);
  border-radius: 10px;
  width: 100%;
  height: 400px;
  color: #fff;
  padding: 5rem 2.5rem;
}

.grid2 .tool:hover {
  background: #6c67ef;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 15px 15px 0px #ffd362, inset 20px 20px 0px #ffffff;
  border-radius: 10px;
}

.img-box {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.img-button a {
  padding: 1rem 2.7rem;
  color: var(--text-white);
  background-color: #000000;
  text-decoration: none;
  border-radius: 6px;
}

.illustration .img-button img {
  width: 14rem;
  margin-right: 6rem;
  padding: 2rem;
  background-color: rgb(235, 230, 189);
}

.img-button h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  width: 10rem;
  margin-top: 2rem;
  letter-spacing: -0.03em;
}

.tool .info {
  padding: 2rem;
  color: #ffffff;
}

.tool .info h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;
  margin-bottom: 1rem;
}

.tool .info p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

.info ul {
  margin: 1rem auto;
}

.info ul li {
  list-style: decimal;
  font-size: 12px;
  line-height: 1.25rem;
}

.subheader {
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  letter-spacing: -0.02em;
}

.subheader i {
  font-style: italic;
  font-weight: 300;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  letter-spacing: -0.02em;
}

.grid2 .resource {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background: #ffd362;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  padding: 5rem 2.5rem;
  transition: 0.5s ease;
}

.grid2 .resource:hover {
  background: #ffd362;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 15px 15px 0px #6c67ef, inset 20px 20px 0px #ffffff;
  border-radius: 10px;
}

.resource a {
  padding: 1rem 2.7rem;
  color: var(--text-white);
  background-color: #000000;
  text-decoration: none;
  border-radius: 6px;
}

.resource h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;
}

.resource p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

table {
  width: 100%;
  height: 570px;
  padding: 3rem;
  background: #ff9b62;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 15px 15px 0px #6c67ef, inset 20px 20px 0px #ffffff;
  border-radius: 10px;
  border-spacing: 0.75rem;
}

tr th {
  background: #ffffff;
  border-radius: 10px;
  color: #0000007a;
  text-align: left;
  padding: 1rem;
}

tr td {
  background: #ffffff;
  border-radius: 10px;
  color: #000000;
  text-align: left;
  padding: 1.2rem;
}

tr td a {
  padding: 1rem 2.7rem;
  color: var(--text-white);
  background-color: #000000;
  text-decoration: none;
  border-radius: 6px;
}

.button {
  background-color: #000000;
  text-align: center;
}

.about-image {
  display: flex;
  width: 100%;
  height: 720px;
  background: #ffd362;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 15px 15px 0px #6c67ef, inset 20px 20px 0px #ffffff;
  border-radius: 10px;
}

.about-image img {
  width: 100%;
}

.about {
  width: 100%;
  padding: 4rem;
}

.about h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -0.02em;
}

.about h1 i {
  font-style: italic;
  font-weight: 300;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -0.02em;
  color: #ffd362;
}

.about p {
  margin: 2rem 0;
}

.about ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.about ul li {
  margin: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ffd362;
  transition: 0.25s ease;
}

.about ul li:hover {
  background: #ffd362;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #6c67ef, inset 4px 4px 0px #ffffff;
  border-radius: 10px;
}

.about ul li a {
  border-radius: 10px;
  text-decoration: none;
  background-color: #ffd362;
}

.about ul li a:hover {
  color: var(--bg-01);
}

footer a {
  color: #ffd362;
}

/* mobile responsive */

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: #f6c84d;
    padding-bottom: 0.25rem;
    color: #fff;
    font-size: 20px;
  }

  .mobile ul {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    padding: 2rem;
    background: #000;
    display: none;
    flex-direction: column;
    list-style: none;
  }

  .mobile ul li {
    padding: 1.5rem;
  }

  .wrapper {
    width: 100%;
    max-width: 1420px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homeBanner {
    width: 100%;
    height: 85vh;
    background-color: #000000;
    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homeBanner .wrapper {
    margin-top: 10rem;
  }

  .homeBanner .wrapper .left h1 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 47px;
    letter-spacing: -0.02em;
  }

  .homeBanner .wrapper .left h1 i {
    font-size: 45px;
    line-height: 47px;
    letter-spacing: -0.02em;
  }

  .homeBanner .wrapper .right {
    width: 350px;
    height: 250px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6c67ef;
    border: 10px solid #000000;
    box-sizing: border-box;
    box-shadow: 10px 10px 0px #ffd362, inset 10px 10px 0px #ffffff;
    border-radius: 10px;
    margin-bottom: 10rem;
  }

  .homeBanner .wrapper .right img {
    width: 250px;
  }

  .home-hero {
    width: 100px;
    height: 200px;
    transform: rotate(-15deg);
    z-index: 1;
  }

  main h3 {
    text-align: center;
    margin: 3rem auto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
    letter-spacing: -0.02em;
  }

  main h3 i {
    font-size: 25px;
    line-height: 23px;
    letter-spacing: -0.02em;
  }

  main .wrapper .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  main .wrapper .top h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    letter-spacing: -0.02em;
  }

  main .wrapper .top a {
    padding: 0.75rem 2rem;
    color: var(--text-white);
    background-color: #000000;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
  }

  main .wrapper .grid {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .wrapper .grid2 {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .wrapper .grid .card {
    padding: 3rem;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .card h4 {
    text-align: center;
    color: var(--text-white);
    margin-top: 3rem;
    padding: 1rem 3rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #000;
  }

  main .wrapper .grid .card img {
    width: 100%;
    height: 80%;
  }

  main .wrapper .grid .card p {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.03em;
    align-self: flex-end;
  }

  .share {
    margin: 2rem auto;
  }

  .share form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background: #6c67ef;
    border: 4px solid #000000;
    box-sizing: border-box;
    box-shadow: 10px 10px 0px #ffd362, inset 10px 10px 0px #ffffff;
    border-radius: 10px;
  }

  .share form input,
  .share form textarea {
    width: 300px;
    padding: 10px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
  }

  .share h1 {
    width: 100%;
    padding: 2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 47px;
    letter-spacing: -0.02em;
  }

  .share h1 i {
    font-size: 45px;
    line-height: 47px;
    letter-spacing: -0.02em;
  }

  .grid2 .tool {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #6c67ef;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 5rem 2.5rem;
    transition: 0.5s ease;
  }

  .grid2 .illustration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--text-color);
    border-radius: 10px;
    width: 90%;
    height: 100%;
    color: #fff;
    padding: 5rem 2.5rem;
  }

  .grid2 .tool:hover {
    background: #6c67ef;
    border: 10px solid #000000;
    box-sizing: border-box;
    box-shadow: 15px 15px 0px #ffd362, inset 20px 20px 0px #ffffff;
    border-radius: 10px;
  }

  .img-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 12px;
    margin-bottom: 2rem;
  }

  .img-button a {
    padding: 1rem 2rem;
    font-size: 14px;
    color: var(--text-white);
    background-color: #000000;
    text-decoration: none;
    border-radius: 6px;
  }

  .illustration .img-button img {
    width: 14rem;
    margin-right: 6rem;
    padding: 2rem;
    background-color: rgb(235, 230, 189);
  }

  .img-button h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 10rem;
    margin-top: 2rem;
    letter-spacing: -0.03em;
  }

  .tool .info {
    padding: 2rem 0rem;
    color: #ffffff;
  }

  .tool .info h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.03em;
    margin-bottom: 1rem;
  }

  .tool .info p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
  }

  .info ul {
    margin: 1rem auto;
  }

  .info ul li {
    list-style: decimal;
    font-size: 12px;
    line-height: 1.25rem;
  }

  .subheader {
    font-weight: 600;
    font-size: 25px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .subheader i {
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .grid2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  .grid2 .resource {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background: #ffd362;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    padding: 2rem 1.2rem;
    transition: 0.5s ease;
  }

  .resource a {
    font-size: 14px;
    padding: 0.5rem 2rem;
    color: var(--text-white);
    background-color: #000000;
    text-decoration: none;
    border-radius: 6px;
  }

  .resource h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.03em;
  }

  .resource p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
  }

  table {
    width: 94%;
    height: 400px;
    margin-bottom: 16rem;
    padding: 1rem;
    background: #ff9b62;
    border: 10px solid #000000;
    box-sizing: border-box;
    box-shadow: 10px 10px 0px #6c67ef, inset 10px 10px 0px #ffffff;
    border-radius: 10px;
    border-spacing: 0.75rem;
  }

  tr th {
    font-size: 12px;
    background: #ffffff;
    border-radius: 10px;
    color: #0000007a;
    text-align: left;
    padding: 1rem;
  }

  tr td {
    font-size: 14px;
    background: #ffffff;
    border-radius: 10px;
    color: #000000;
    text-align: left;
    padding: 0.5rem;
  }

  tr td a {
    font-size: 8px;
    line-height: 00px;
    text-align: right;
    padding: 0.5rem 1rem;
    color: var(--text-white);
    background-color: #000000;
    text-decoration: none;
    border-radius: 6px;
  }

  .button {
    background-color: #000000;
  }

  .about-image {
    display: flex;
    width: 80%;
    height: 300px;
    background: #ffd362;
    border: 10px solid #000000;
    box-sizing: border-box;
    box-shadow: 10px 10px 0px #6c67ef, inset 10px 10px 0px #ffffff;
    border-radius: 10px;
  }

  .about-image img {
    width: 100%;
  }

  .about {
    width: 100%;
    padding: 2rem;
  }

  .about h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 47px;
    letter-spacing: -0.02em;
  }

  .about h1 i {
    font-style: italic;
    font-weight: 300;
    font-size: 45px;
    line-height: 47px;
    letter-spacing: -0.02em;
    color: #ffd362;
  }

  .about p {
    margin: 2rem 0;
  }

  .about ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .about ul li {
    margin: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #ffd362;
    transition: 0.25s ease;
  }

  .about ul li:hover {
    background: #ffd362;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #6c67ef, inset 4px 4px 0px #ffffff;
    border-radius: 10px;
  }

  .about ul li a {
    border-radius: 10px;
    text-decoration: none;
    background-color: #ffd362;
  }

  footer a {
    color: #ffd362;
  }
}
